@page
@model HOST.Pages.CurriculumPages.IndexModel

<h2>@Model.Menu.menu_name</h2>
<p><strong>Date:</strong> @Model.Menu.date</p>
<p><strong>Chef:</strong> @Model.Menu.chef</p>

@foreach (var category in Model.Menu.categories)
{
    <h3>@category.category_name</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Calories</th>
                <th>Price</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in category.items)
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.description</td>
                    <td>@item.calories</td>
                    <td>$@item.price</td>
                </tr>
            }
        </tbody>
    </table>
}
